repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: ["tomli>=2.0.1"]
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.5.1"
    hooks:
      - id: prettier
        name: Prettier
        args: ["--print-width=120", "--prose-wrap=always"]
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
