[build-system]
build-backend = "hatchling.build"
requires = ["hatchling>=0.14", "hatch-vcs>=0.1"]

[project]
name = "pyproject_fmt"
description = "Format your pyproject.toml file"
readme = "README.md"
keywords = ["format", "pyproject"]
license = "MIT"
urls."Bug Tracker" = "https://github.com/gaborbernat/pyproject-fmt/issues"
urls.Documentation = "https://github.com/gaborbernat/pyproject-fmt/"
urls."Source Code" = "https://github.com/gaborbernat/pyproject-fmt"
authors = [{ name = "Bernat Gabor", email = "gaborjbernat@gmail.com" }]
requires-python = ">=3.7"
dependencies = [
  "packaging>=21.3",
  "tomlkit>=0.10",
  'typing-extensions>=3.10;python_version<"3.8"',
]
optional-dependencies.test = [
  "covdefaults>=2",
  "pytest>=7",
  "pytest-cov>=3",
  "pytest-mock>=3.7",
]
optional-dependencies.docs = [
  "furo>=2022.1.2b11",
  "sphinx>=4.4",
  "sphinx-argparse-cli>=1.8",
  "sphinx-autodoc-typehints>=1.17",
  "sphinx-copybutton>=0.5",
]
scripts.pyproject-fmt = "pyproject_fmt.__main__:run"
dynamic = ["version"]
classifiers = [
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
]

[tool.hatch]
build.dev-mode-dirs = ["src"]
build.hooks.vcs.version-file = "src/pyproject_fmt/_version.py"
build.targets.sdist.include = ["/src", "/tests"]
version.source = "vcs"

[tool.isort]
known_first_party = ["helpers", "package_info"]
profile = "black"

[tool.black]
line-length = 120

[tool.pytest]
ini_options.testpaths = ["tests"]

[tool.coverage]
html.show_contexts = true
html.skip_covered = false
paths.source = ["src", ".tox/*/lib/python*/site-packages", "*/src"]
report.fail_under = 88
run.parallel = true
run.plugins = ["covdefaults"]

[tool.mypy]
show_error_codes = true
strict = true
